:host {
  display: block;
  background-color: white;
  position: relative;
  min-height: 370px;
}

h2.title {
  margin: .5rem auto 2rem auto;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

div.full-width {
  grid-column: 1 / -1;

  mat-form-field {
    width: 100%;
  }
}

button {
  background-color: #CA4B08;
  color: #ffffff;
}

button.cancel {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
}

button.submit {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
}