<div class="filters" [ngClass]="showFilters ? '' : 'hide'">
  <div *ngFor="let filter of filters" class="filter">
    <mat-chip disableRipple [disabled]="loading">
      <span class="field">
        {{filter.field | split | titlecase}}
      </span>
      <span class="operator">
        {{filter.operator | titlecase}}
      </span>
      <span class="values">
        {{filter.values | formatFilterValues | split | titlecase}}
      </span>
      <span
        class="remove"
        [attr.aria-label]="'remove ' + filter.field"
          (click)="onClearFilter(filter)">
          <mat-icon>cancel</mat-icon>
      </span>
    </mat-chip>
  </div>
  <div class="filter">
    <mat-chip
      disableRipple
      [disabled]="loading"
      class="add"
      (click)="onOpenFilterDialog()"
      matTooltip="Add filter"
      aria-label="Add filter"
      >
      <mat-icon>add</mat-icon>
    </mat-chip>
  </div>
  <div *ngIf="filters.length > 0" class="filter">
    <mat-chip
      disableRipple
      [disabled]="loading"
      class="clear"
      matTooltip="Clear all filters"
      aria-label="Clear all filters"
      (click)="onClearFilters()"
      >
      Clear
    </mat-chip>
  </div>
</div>
<div class="toggle" [ngClass]="loading ? 'disabled' : ''" (click)="toggleShowFilters()">
  <mat-icon>
    {{ showFilters ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
  </mat-icon>
  <span>Filters</span>
</div>
