<div class="container">
  <div class="header">
    <h1>Project Dashboard</h1>
    <app-navbar [selectedProject]="selectedProject" [loading]="loading"></app-navbar>
  </div>
  <hr>
  <div class="metadata">
    <app-project-dashboard-metadata [metadata]="metadata$ | async">
    </app-project-dashboard-metadata>
  </div>
  <hr>
  <app-filters
    [columns]="columns"
    [loading]="loading"
    (updateFilters)="onUpdateFilters($event)">
  </app-filters>
  <app-project-dashboard-table 
    [projects]="projects$ | async"
    [columns]="columns"
    [loading]="loading"
    [pagination]="pagination"
    (updatePagination)="onUpdatePagination($event)"
    (updateProject)="onUpdateProject($event)"
    (selectProject)="onSelectProject($event)"
    >
  </app-project-dashboard-table>

</div>
