<div class="container">
  <h1>Project Dashboard</h1>
  <hr>
  <!-- <app-project-dashboard-metadata></app-project-dashboard-metadata> -->
  <app-filters
    [columns]="columns"
    [loading]="loading"
    (updateFilters)="onUpdateFilters($event)">
  </app-filters>
  <app-project-dashboard-table 
    [projects]="projects$ | async"
    [columns]="columns"
    [loading]="loading"
    [pagination]="pagination"
    (updatePagination)="onUpdatePagination($event)"
    (updateProject)="onUpdateProject($event)"
    >
  </app-project-dashboard-table>
</div>
