
  <div *ngIf="loading, else projectsTable" class="loading">
    <app-spinner></app-spinner>
    {{ projectBeingSaved ? 'Saving project...' : 'Loading results...'}}
  </div>

  <ng-template #projectsTable>
    <table>
      <tr class="header">
        <th></th>
        <th *ngFor="let column of columns">{{column.field | split | titlecase}}</th>
        <th>Update</th>
      </tr>
      <tr
        *ngFor="let project of projects"
        [ngClass]="selectedProject?.id === project?.id  ? 'selected' : ''"
      >
        <td class="select">
          <mat-radio-button
            color="warn"
            (click)="onSelectProject(project)"
            [value]="project"
            matTooltip="Edit Project"
            aria-label="Edit Project"
            [checked]="selectedProject?.id === project?.id"
            >
          </mat-radio-button>
        </td>

        <ng-container [formGroup]="form" *ngIf="project?.id === selectedProject?.id else row">
          <td *ngFor="let column of columns">
            <ng-container [ngSwitch]="column.field">
              <span *ngSwitchCase="'title'">
                <input formControlName="title">
              </span>
              <span *ngSwitchCase="'division'">
                <select formControlName="division">
                  <option
                    *ngFor="let option of column.options"
                    [value]="option"
                    >
                    {{ option | split | titlecase }}
                  </option>
                </select>
              </span>
              <span *ngSwitchCase="'project_owner'">
                <input formControlName="project_owner">
              </span>
              <span *ngSwitchCase="'budget'" class="budget">
                <span>$</span><input formControlName="budget" type="number">
              </span>
              <span *ngSwitchCase="'status'">
                <select formControlName="status">
                  <option
                    *ngFor="let option of column.options"
                    [value]="option"
                    >
                    {{ option | split | titlecase }}
                  </option>
                </select>
              </span>
              <span *ngSwitchCase="'created'">
                {{ project[column.field] | date }}
              </span>
              <span *ngSwitchCase="'modified'">
                {{ project[column.field] | date }}
              </span>
              <span *ngSwitchDefault>
                {{ project[column.field] | split | titlecase }}
              </span>
            </ng-container>
          </td>
        </ng-container>

        <ng-template #row>
          <td
            *ngFor="let column of columns"
            [ngClass]="fieldWasUpdated(project, column.field) ? 'updated' : ''"
          >
            <ng-container [ngSwitch]="column.field">
              <span *ngSwitchCase="'created'">
                {{ project[column.field] | date }}
              </span>
              <span *ngSwitchCase="'modified'">
                {{ project[column.field] | date }}
              </span>
              <span *ngSwitchCase="'budget'">
                {{ project[column.field] | currency }}
              </span>
              <span *ngSwitchDefault>
                {{ project[column.field] | split | titlecase }}
              </span>
            </ng-container>
          </td>
        </ng-template>

        <td class="actions">
          <ng-container *ngIf="selectedProject?.id === project?.id">
            <mat-icon 
              class="save"
              (click)="onSaveProject()"
              [ngClass]="changesPending ? '' : 'disabled'"
              matTooltip="Save Changes"
              aria-label="Save Changes">
              save
            </mat-icon>
          </ng-container>
          <ng-container *ngIf="projectLastSaved?.id === project?.id">
            <mat-icon
              class="saved"
              matTooltip="Project Saved"
              aria-label="Project Saved">
              check
            </mat-icon>
          </ng-container>
        </td>
      </tr>
    </table>

    <mat-paginator
      *ngIf="pagination && projects && projects.length > 0"
      [length]="pagination.length"
      [pageSize]="pagination.pageSize"
      [pageIndex]="pagination.pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
      (page)="onPaginatorEvent($event)"
      >
    </mat-paginator>

    <div *ngIf="projects?.length === 0" class="no-results">
      No results match your search query. Please try again.
    </div>
  </ng-template>

