table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}
  
tr {
  display: table-row;
  background: #f6f6f6;
  
  &:nth-of-type(odd) {
    background: #e9e9e9;
  }

  &.header {
    font-weight: 900;
    color: #ffffff;
    background: #CA4B08;
  }
}
 
td,th {
  padding: 6px 12px;
  display: table-cell;
}
 